<link href="{{ '../assets/hero.css' | asset_url }}" rel="stylesheet" type="text/css">
<link href="{{ '../assets/typography.css' | asset_url }}" rel="stylesheet" type="text/css">

<section class="hero">
  <div class="container">
    <div class="hero-images">
      <div class="hero-inner">
        <h1 class="hero-title heading-1">{{ section.settings['heading-1'] }}</h1>
        <h2 class="italic-heading heading-1">{{ section.settings['heading-2'] }}</h2>
        <p class="hero-description p-1">
          {{ section.settings.paragraph }}
        </p>
        <div class="btn-mini-images">
          <button class="hero-cta p-1">{{ section.settings['hero-button'] }}</button>
          <div class="mini-images">
            {% for block in section.blocks %}
              <img
                src="{{ block.settings.client_image | img_url: '600x600' }}"
                alt="{{ block.settings.alt_text | escape }}"
              >
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="gallery-grid">
        <div
          class="grid-image"
          style="--desktop-row: auto / span  3; --desktop-column: auto / span; --tablet-row: auto / span  3; --tablet-column: auto / span; --mobile-row: auto / span  2; --mobile-column: auto / span 3; "
        >
          <img src="{{  section.settings.banner_1_image | image_url: width: 600 }}" alt="Banner-1">
        </div>
        <div
          class="grid-image"
          style="--desktop-row: auto / span 2; --desktop-column: auto / span 1; --tablet-row: auto / span 2; --tablet-column: auto / span 1; --mobile-row: auto / span 2; --mobile-column: auto / span 5;"
        >
          <img src="{{  section.settings.banner_2_image | image_url: width: 600 }}" alt="Banner-2">
          <div class="box-2-banner-text">
            <h5 class="heading-5">{{ section.settings.banner_2_text }}</h5>
            <p class="p-5">
              {{ section.settings.banner_2_description }}
            </p>
          </div>
        </div>
        <div
          class="grid-image hidden-on-phone"
          style="--desktop-row: auto / span 3; --desktop-column: auto / span 1; --tablet-row: auto / span 3; --tablet-column: auto / span 1; --mobile-row: auto / span 3; --mobile-column: auto / span 1"
        >
          <img src="{{  section.settings.banner_3_image | image_url: width: 600 }}" alt="Banner-3">
        </div>
        <div
          class="grid-image"
          style="--desktop-row: auto / span 3; --desktop-column: auto / span 1;  --tablet-row: auto / span 3; --tablet-column: auto / span 1; --mobile-row: auto / span 2; --mobile-column: 6 / span 3"
        >
          <img src="{{  section.settings.banner_5_image | image_url: width: 600 }}" alt="Banner-5">
        </div>
        <div
          class="grid-image"
          style="--desktop-row: auto / span 2; --desktop-column: auto / span 1; --tablet-row: auto / span 2; --tablet-column: auto / span 1; --mobile-row: 3 / span 2; --mobile-column: auto / span 5"
        >
          <img src="{{  section.settings.banner_4_image | image_url: width: 600 }}" alt="Banner-4">
          <div class="box-4-banner-text">
            <h5 class="heading-5">{{ section.settings.banner_4_heading | default: 'Lorem ipsum dolor sit amet' }}</h5>
            <p class="p-5">
              {{
                section.settings.banner_4_description
                | default: 'Lorem ipsum dolor sit amet consectetur adipiscing elit.'
              }}
            </p>
          </div>
        </div>
        <div
          class="grid-image"
          style="--desktop-row: auto / span 2; --desktop-column: auto / span 1;  --tablet-row: auto / span 2; --tablet-column: auto / span 1;  --mobile-row: auto / span 2; --mobile-column: auto / span 8"
        >
          <img src="{{  section.settings.banner_6_image | image_url: width: 600 }}" alt="Banner-6">
          <div class="box-6-banner-text">
            <h5 class="heading-5">{{ section.settings.banner_6_heading | default: 'Lorem ipsum dolor sit amet' }}</h5>
            <p class="p-5">
              {{
                section.settings.banner_6_description
                | default: 'Lorem ipsum dolor sit amet consectetur adipiscing elit.'
              }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "text",
      "id": "heading-1",
      "label": "heading-1",
      "default": "Lorem ipsum dolor sit amet consectetur"
    },
    {
      "type": "text",
      "id": "heading-2",
      "label": "heading 2",
      "default": "adipiscing elit quisque faucibus ex sapien vitae."
    },
    {
      "type": "text",
      "id": "paragraph",
      "label": "paragraph",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    },
    {
      "type": "text",
      "id": "hero-button",
      "label": "Hero button",
      "default": "Free consultation"
    },
    {
      "type": "image_picker",
      "id": "banner_1_image",
      "label": "Banner 1 Image"
    },
    {
      "type": "image_picker",
      "id": "banner_2_image",
      "label": "Banner 2 Image"
    },
    {
      "type": "text",
      "id": "banner_2_text",
      "label": "Banner 2 Text",
      "default": "Lorem ipsum dolor sit amet"
    },
    {
      "type": "textarea",
      "id": "banner_2_description",
      "label": "Banner 2 Description",
      "default": "Lorem ipsum dolor sit amet consectetur adipiscing elit quisque faucibus ex sapien vitae pellentesque sem placerat."
    },
    {
      "type": "image_picker",
      "id": "banner_3_image",
      "label": "Banner 3 Image"
    },
    {
      "type": "image_picker",
      "id": "banner_4_image",
      "label": "Banner 4 Image"
    },
    {
      "type": "text",
      "id": "banner_4_heading",
      "label": "Banner 4 Heading"
    },
    {
      "type": "textarea",
      "id": "banner_4_description",
      "label": "Banner 4 Description"
    },
    {
      "type": "image_picker",
      "id": "banner_5_image",
      "label": "Banner 5 Image"
    },
    {
      "type": "image_picker",
      "id": "banner_6_image",
      "label": "Banner 6 Image"
    },
    {
      "type": "text",
      "id": "banner_6_heading",
      "label": "Banner 6 Heading"
    },
    {
      "type": "textarea",
      "id": "banner_6_description",
      "label": "Banner 6 Description"
    }
  ],
  "blocks": [
    {
      "type": "client_logo",
      "name": "Client Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "client_image",
          "label": "Upload Client Logo"
        },
        {
          "type": "text",
          "id": "alt_text",
          "label": "Alt Text",
          "default": "Client Logo"
        }
      ]
    }
  ],
  "max_blocks": 12,
  "presets": [
    {
      "name": "Hero",
      "blocks": [
        {
          "type": "client_logo"
        }
      ]
    }
  ]
}
{% endschema %}
